Staging/Herzon/Csharp_codebehnid/ProudSourcePrime/ProudSourcePrime/Service References/ServiceReference1/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.0.1.30/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.0.1.30/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.0.1.30/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProudSourceWCFService" />
      <xsd:import schemaLocation="http://10.0.1.30/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_upload_Document_InputMessage">
    <wsdl:part name="parameters" element="tns:upload_Document" />
  </wsdl:message>
  <wsdl:message name="IService1_upload_Document_OutputMessage">
    <wsdl:part name="parameters" element="tns:upload_DocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_update_Document_InputMessage">
    <wsdl:part name="parameters" element="tns:update_Document" />
  </wsdl:message>
  <wsdl:message name="IService1_update_Document_OutputMessage">
    <wsdl:part name="parameters" element="tns:update_DocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_delete_Document_InputMessage">
    <wsdl:part name="parameters" element="tns:delete_Document" />
  </wsdl:message>
  <wsdl:message name="IService1_delete_Document_OutputMessage">
    <wsdl:part name="parameters" element="tns:delete_DocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Document_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Document" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Document_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_DocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_upload_Image_InputMessage">
    <wsdl:part name="parameters" element="tns:upload_Image" />
  </wsdl:message>
  <wsdl:message name="IService1_upload_Image_OutputMessage">
    <wsdl:part name="parameters" element="tns:upload_ImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_update_Image_InputMessage">
    <wsdl:part name="parameters" element="tns:update_Image" />
  </wsdl:message>
  <wsdl:message name="IService1_update_Image_OutputMessage">
    <wsdl:part name="parameters" element="tns:update_ImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_delete_Image_InputMessage">
    <wsdl:part name="parameters" element="tns:delete_Image" />
  </wsdl:message>
  <wsdl:message name="IService1_delete_Image_OutputMessage">
    <wsdl:part name="parameters" element="tns:delete_ImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Image_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Image" />
  </wsdl:message>
  <wsdl:message name="IService1_get_Image_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_ImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_UserById_InputMessage">
    <wsdl:part name="parameters" element="tns:get_UserById" />
  </wsdl:message>
  <wsdl:message name="IService1_get_UserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_UserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_UserByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:get_UserByUserName" />
  </wsdl:message>
  <wsdl:message name="IService1_get_UserByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_UserByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_PasswordHash_InputMessage">
    <wsdl:part name="parameters" element="tns:get_PasswordHash" />
  </wsdl:message>
  <wsdl:message name="IService1_get_PasswordHash_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_PasswordHashResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_set_PasswordHash_InputMessage">
    <wsdl:part name="parameters" element="tns:set_PasswordHash" />
  </wsdl:message>
  <wsdl:message name="IService1_set_PasswordHash_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_PasswordHashResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_UserIndexData_InputMessage">
    <wsdl:part name="parameters" element="tns:get_UserIndexData" />
  </wsdl:message>
  <wsdl:message name="IService1_get_UserIndexData_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_UserIndexDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_update_ProfileData_InputMessage">
    <wsdl:part name="parameters" element="tns:update_ProfileData" />
  </wsdl:message>
  <wsdl:message name="IService1_update_ProfileData_OutputMessage">
    <wsdl:part name="parameters" element="tns:update_ProfileDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_InvestorIndexData_InputMessage">
    <wsdl:part name="parameters" element="tns:get_InvestorIndexData" />
  </wsdl:message>
  <wsdl:message name="IService1_get_InvestorIndexData_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_InvestorIndexDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_InvestorDetails_Data_InputMessage">
    <wsdl:part name="parameters" element="tns:get_InvestorDetails_Data" />
  </wsdl:message>
  <wsdl:message name="IService1_get_InvestorDetails_Data_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_InvestorDetails_DataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_EntrepreneurIndexData_InputMessage">
    <wsdl:part name="parameters" element="tns:get_EntrepreneurIndexData" />
  </wsdl:message>
  <wsdl:message name="IService1_get_EntrepreneurIndexData_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_EntrepreneurIndexDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_EntrepreneurDetails_Data_InputMessage">
    <wsdl:part name="parameters" element="tns:get_EntrepreneurDetails_Data" />
  </wsdl:message>
  <wsdl:message name="IService1_get_EntrepreneurDetails_Data_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_EntrepreneurDetails_DataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_create_Project_InputMessage">
    <wsdl:part name="parameters" element="tns:create_Project" />
  </wsdl:message>
  <wsdl:message name="IService1_create_Project_OutputMessage">
    <wsdl:part name="parameters" element="tns:create_ProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_ProjectIndexData_InputMessage">
    <wsdl:part name="parameters" element="tns:get_ProjectIndexData" />
  </wsdl:message>
  <wsdl:message name="IService1_get_ProjectIndexData_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_ProjectIndexDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_ProjectDetails_Data_InputMessage">
    <wsdl:part name="parameters" element="tns:get_ProjectDetails_Data" />
  </wsdl:message>
  <wsdl:message name="IService1_get_ProjectDetails_Data_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_ProjectDetails_DataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_update_ProjectProfileData_InputMessage">
    <wsdl:part name="parameters" element="tns:update_ProjectProfileData" />
  </wsdl:message>
  <wsdl:message name="IService1_update_ProjectProfileData_OutputMessage">
    <wsdl:part name="parameters" element="tns:update_ProjectProfileDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_create_PROC_InputMessage">
    <wsdl:part name="parameters" element="tns:create_PROC" />
  </wsdl:message>
  <wsdl:message name="IService1_create_PROC_OutputMessage">
    <wsdl:part name="parameters" element="tns:create_PROCResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_PROC_InputMessage">
    <wsdl:part name="parameters" element="tns:get_PROC" />
  </wsdl:message>
  <wsdl:message name="IService1_get_PROC_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_PROCResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_update_PROC_InputMessage">
    <wsdl:part name="parameters" element="tns:update_PROC" />
  </wsdl:message>
  <wsdl:message name="IService1_update_PROC_OutputMessage">
    <wsdl:part name="parameters" element="tns:update_PROCResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_alter_PROC_MutualyAccepted_InputMessage">
    <wsdl:part name="parameters" element="tns:alter_PROC_MutualyAccepted" />
  </wsdl:message>
  <wsdl:message name="IService1_alter_PROC_MutualyAccepted_OutputMessage">
    <wsdl:part name="parameters" element="tns:alter_PROC_MutualyAcceptedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_recant_PROC_MutualAcceptance_InputMessage">
    <wsdl:part name="parameters" element="tns:recant_PROC_MutualAcceptance" />
  </wsdl:message>
  <wsdl:message name="IService1_recant_PROC_MutualAcceptance_OutputMessage">
    <wsdl:part name="parameters" element="tns:recant_PROC_MutualAcceptanceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_upload_Link_InputMessage">
    <wsdl:part name="parameters" element="tns:upload_Link" />
  </wsdl:message>
  <wsdl:message name="IService1_upload_Link_OutputMessage">
    <wsdl:part name="parameters" element="tns:upload_LinkResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_delete_Link_InputMessage">
    <wsdl:part name="parameters" element="tns:delete_Link" />
  </wsdl:message>
  <wsdl:message name="IService1_delete_Link_OutputMessage">
    <wsdl:part name="parameters" element="tns:delete_LinkResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_FinancialAccountData_InputMessage">
    <wsdl:part name="parameters" element="tns:get_FinancialAccountData" />
  </wsdl:message>
  <wsdl:message name="IService1_get_FinancialAccountData_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_FinancialAccountDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_create_new_BT_Transactions_InputMessage">
    <wsdl:part name="parameters" element="tns:create_new_BT_Transactions" />
  </wsdl:message>
  <wsdl:message name="IService1_create_new_BT_Transactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:create_new_BT_TransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ajax_SearchResults_InputMessage">
    <wsdl:part name="parameters" element="tns:ajax_SearchResults" />
  </wsdl:message>
  <wsdl:message name="IService1_ajax_SearchResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:ajax_SearchResultsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="upload_Document">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/upload_Document" message="tns:IService1_upload_Document_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/upload_DocumentResponse" message="tns:IService1_upload_Document_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update_Document">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/update_Document" message="tns:IService1_update_Document_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/update_DocumentResponse" message="tns:IService1_update_Document_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete_Document">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/delete_Document" message="tns:IService1_delete_Document_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/delete_DocumentResponse" message="tns:IService1_delete_Document_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Document">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_Document" message="tns:IService1_get_Document_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_DocumentResponse" message="tns:IService1_get_Document_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="upload_Image">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/upload_Image" message="tns:IService1_upload_Image_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/upload_ImageResponse" message="tns:IService1_upload_Image_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update_Image">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/update_Image" message="tns:IService1_update_Image_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/update_ImageResponse" message="tns:IService1_update_Image_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete_Image">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/delete_Image" message="tns:IService1_delete_Image_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/delete_ImageResponse" message="tns:IService1_delete_Image_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Image">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_Image" message="tns:IService1_get_Image_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_ImageResponse" message="tns:IService1_get_Image_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_UserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_UserById" message="tns:IService1_get_UserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_UserByIdResponse" message="tns:IService1_get_UserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_UserByUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_UserByUserName" message="tns:IService1_get_UserByUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_UserByUserNameResponse" message="tns:IService1_get_UserByUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_PasswordHash">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_PasswordHash" message="tns:IService1_get_PasswordHash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_PasswordHashResponse" message="tns:IService1_get_PasswordHash_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_PasswordHash">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/set_PasswordHash" message="tns:IService1_set_PasswordHash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/set_PasswordHashResponse" message="tns:IService1_set_PasswordHash_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_UserIndexData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_UserIndexData" message="tns:IService1_get_UserIndexData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_UserIndexDataResponse" message="tns:IService1_get_UserIndexData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update_ProfileData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/update_ProfileData" message="tns:IService1_update_ProfileData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/update_ProfileDataResponse" message="tns:IService1_update_ProfileData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_InvestorIndexData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_InvestorIndexData" message="tns:IService1_get_InvestorIndexData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_InvestorIndexDataResponse" message="tns:IService1_get_InvestorIndexData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_InvestorDetails_Data">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_InvestorDetails_Data" message="tns:IService1_get_InvestorDetails_Data_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_InvestorDetails_DataResponse" message="tns:IService1_get_InvestorDetails_Data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_EntrepreneurIndexData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_EntrepreneurIndexData" message="tns:IService1_get_EntrepreneurIndexData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_EntrepreneurIndexDataResponse" message="tns:IService1_get_EntrepreneurIndexData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_EntrepreneurDetails_Data">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_EntrepreneurDetails_Data" message="tns:IService1_get_EntrepreneurDetails_Data_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_EntrepreneurDetails_DataResponse" message="tns:IService1_get_EntrepreneurDetails_Data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="create_Project">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/create_Project" message="tns:IService1_create_Project_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/create_ProjectResponse" message="tns:IService1_create_Project_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_ProjectIndexData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_ProjectIndexData" message="tns:IService1_get_ProjectIndexData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_ProjectIndexDataResponse" message="tns:IService1_get_ProjectIndexData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_ProjectDetails_Data">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_ProjectDetails_Data" message="tns:IService1_get_ProjectDetails_Data_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_ProjectDetails_DataResponse" message="tns:IService1_get_ProjectDetails_Data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update_ProjectProfileData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/update_ProjectProfileData" message="tns:IService1_update_ProjectProfileData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/update_ProjectProfileDataResponse" message="tns:IService1_update_ProjectProfileData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="create_PROC">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/create_PROC" message="tns:IService1_create_PROC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/create_PROCResponse" message="tns:IService1_create_PROC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_PROC">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_PROC" message="tns:IService1_get_PROC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_PROCResponse" message="tns:IService1_get_PROC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update_PROC">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/update_PROC" message="tns:IService1_update_PROC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/update_PROCResponse" message="tns:IService1_update_PROC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="alter_PROC_MutualyAccepted">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/alter_PROC_MutualyAccepted" message="tns:IService1_alter_PROC_MutualyAccepted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/alter_PROC_MutualyAcceptedResponse" message="tns:IService1_alter_PROC_MutualyAccepted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recant_PROC_MutualAcceptance">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/recant_PROC_MutualAcceptance" message="tns:IService1_recant_PROC_MutualAcceptance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/recant_PROC_MutualAcceptanceResponse" message="tns:IService1_recant_PROC_MutualAcceptance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="upload_Link">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/upload_Link" message="tns:IService1_upload_Link_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/upload_LinkResponse" message="tns:IService1_upload_Link_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete_Link">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/delete_Link" message="tns:IService1_delete_Link_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/delete_LinkResponse" message="tns:IService1_delete_Link_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_FinancialAccountData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_FinancialAccountData" message="tns:IService1_get_FinancialAccountData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_FinancialAccountDataResponse" message="tns:IService1_get_FinancialAccountData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="create_new_BT_Transactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/create_new_BT_Transactions" message="tns:IService1_create_new_BT_Transactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/create_new_BT_TransactionsResponse" message="tns:IService1_create_new_BT_Transactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ajax_SearchResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ajax_SearchResults" message="tns:IService1_ajax_SearchResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ajax_SearchResultsResponse" message="tns:IService1_ajax_SearchResults_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="upload_Document">
      <soap:operation soapAction="http://tempuri.org/IService1/upload_Document" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_Document">
      <soap:operation soapAction="http://tempuri.org/IService1/update_Document" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_Document">
      <soap:operation soapAction="http://tempuri.org/IService1/delete_Document" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Document">
      <soap:operation soapAction="http://tempuri.org/IService1/get_Document" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="upload_Image">
      <soap:operation soapAction="http://tempuri.org/IService1/upload_Image" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_Image">
      <soap:operation soapAction="http://tempuri.org/IService1/update_Image" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_Image">
      <soap:operation soapAction="http://tempuri.org/IService1/delete_Image" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Image">
      <soap:operation soapAction="http://tempuri.org/IService1/get_Image" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_UserById">
      <soap:operation soapAction="http://tempuri.org/IService1/get_UserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_UserByUserName">
      <soap:operation soapAction="http://tempuri.org/IService1/get_UserByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_PasswordHash">
      <soap:operation soapAction="http://tempuri.org/IService1/get_PasswordHash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_PasswordHash">
      <soap:operation soapAction="http://tempuri.org/IService1/set_PasswordHash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_UserIndexData">
      <soap:operation soapAction="http://tempuri.org/IService1/get_UserIndexData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_ProfileData">
      <soap:operation soapAction="http://tempuri.org/IService1/update_ProfileData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_InvestorIndexData">
      <soap:operation soapAction="http://tempuri.org/IService1/get_InvestorIndexData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_InvestorDetails_Data">
      <soap:operation soapAction="http://tempuri.org/IService1/get_InvestorDetails_Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_EntrepreneurIndexData">
      <soap:operation soapAction="http://tempuri.org/IService1/get_EntrepreneurIndexData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_EntrepreneurDetails_Data">
      <soap:operation soapAction="http://tempuri.org/IService1/get_EntrepreneurDetails_Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_Project">
      <soap:operation soapAction="http://tempuri.org/IService1/create_Project" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_ProjectIndexData">
      <soap:operation soapAction="http://tempuri.org/IService1/get_ProjectIndexData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_ProjectDetails_Data">
      <soap:operation soapAction="http://tempuri.org/IService1/get_ProjectDetails_Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_ProjectProfileData">
      <soap:operation soapAction="http://tempuri.org/IService1/update_ProjectProfileData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_PROC">
      <soap:operation soapAction="http://tempuri.org/IService1/create_PROC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_PROC">
      <soap:operation soapAction="http://tempuri.org/IService1/get_PROC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_PROC">
      <soap:operation soapAction="http://tempuri.org/IService1/update_PROC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alter_PROC_MutualyAccepted">
      <soap:operation soapAction="http://tempuri.org/IService1/alter_PROC_MutualyAccepted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recant_PROC_MutualAcceptance">
      <soap:operation soapAction="http://tempuri.org/IService1/recant_PROC_MutualAcceptance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="upload_Link">
      <soap:operation soapAction="http://tempuri.org/IService1/upload_Link" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_Link">
      <soap:operation soapAction="http://tempuri.org/IService1/delete_Link" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_FinancialAccountData">
      <soap:operation soapAction="http://tempuri.org/IService1/get_FinancialAccountData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_new_BT_Transactions">
      <soap:operation soapAction="http://tempuri.org/IService1/create_new_BT_Transactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ajax_SearchResults">
      <soap:operation soapAction="http://tempuri.org/IService1/ajax_SearchResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://10.0.1.30/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>