Staging/Herzon/Csharp_codebehnid/ProudSourcePrime/ProudSourcePrime/Service References/ServiceReference1/Service142.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.0.1.30/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProudSourceWCFService" />
  <xs:import schemaLocation="http://10.0.1.30/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="upload_Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProudSourceWCFService" minOccurs="0" name="document" nillable="true" type="q1:DocumentFileComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="upload_DocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="upload_DocumentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProudSourceWCFService" minOccurs="0" name="document" nillable="true" type="q2:DocumentFileComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_DocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="update_DocumentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="document_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_DocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delete_DocumentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="document_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_DocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="get_DocumentResult" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="upload_Image">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProudSourceWCFService" minOccurs="0" name="image" nillable="true" type="q4:ImageFileComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="upload_ImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="upload_ImageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_Image">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProudSourceWCFService" minOccurs="0" name="image" nillable="true" type="q5:ImageFileComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_ImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="update_ImageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_Image">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="image_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_ImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delete_ImageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Image">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="image_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_ImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_ImageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_UserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_UserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ProudSourceWCFService" minOccurs="0" name="get_UserByIdResult" nillable="true" type="q6:UserRecordComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_UserByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_UserByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ProudSourceWCFService" minOccurs="0" name="get_UserByUserNameResult" nillable="true" type="q7:UserRecordComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_PasswordHash">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_PasswordHashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_PasswordHashResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_PasswordHash">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_PasswordHashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="set_PasswordHashResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_UserIndexData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_UserIndexDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ProudSourceWCFService" minOccurs="0" name="get_UserIndexDataResult" nillable="true" type="q8:UserIndexComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_ProfileData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userdata" nillable="true" type="q9:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_ProfileDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="update_ProfileDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_InvestorIndexData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="investor_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_InvestorIndexDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ProudSourceWCFService" minOccurs="0" name="get_InvestorIndexDataResult" nillable="true" type="q10:InvestorIndexComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_InvestorDetails_Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Investor_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_InvestorDetails_DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ProudSourceWCFService" minOccurs="0" name="get_InvestorDetails_DataResult" nillable="true" type="q11:InvestorDetailsComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_EntrepreneurIndexData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="entrepreneur_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_EntrepreneurIndexDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ProudSourceWCFService" minOccurs="0" name="get_EntrepreneurIndexDataResult" nillable="true" type="q12:EntrepreneurIndexComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_EntrepreneurDetails_Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Entrepreneur_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_EntrepreneurDetails_DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ProudSourceWCFService" minOccurs="0" name="get_EntrepreneurDetails_DataResult" nillable="true" type="q13:EntrepreneurDetailsComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="create_Project">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Entrepreneur_Id" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="projectdata" nillable="true" type="q14:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="create_ProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="create_ProjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_ProjectIndexData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="entrepreneur_id" type="xs:int" />
        <xs:element minOccurs="0" name="project_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_ProjectIndexDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ProudSourceWCFService" minOccurs="0" name="get_ProjectIndexDataResult" nillable="true" type="q15:ProjectIndexComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_ProjectDetails_Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Project_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_ProjectDetails_DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ProudSourceWCFService" minOccurs="0" name="get_ProjectDetails_DataResult" nillable="true" type="q16:ProjectDetailsComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_ProjectProfileData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Entrepreneur_Id" type="xs:int" />
        <xs:element minOccurs="0" name="Project_Id" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="projectdata" nillable="true" type="q17:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_ProjectProfileDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="update_ProjectProfileDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="create_PROC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Investor_Id" type="xs:int" />
        <xs:element minOccurs="0" name="Project_Id" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PROCdata" nillable="true" type="q18:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="create_PROCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="create_PROCResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_PROC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proc_id" type="xs:int" />
        <xs:element minOccurs="0" name="entrepreneur_id" type="xs:int" />
        <xs:element minOccurs="0" name="investor_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_PROCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ProudSourceWCFService" minOccurs="0" name="get_PROCResult" nillable="true" type="q19:PROCComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_PROC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proc_id" type="xs:int" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="updateDictionary" nillable="true" type="q20:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="entrepreneur_id" type="xs:int" />
        <xs:element minOccurs="0" name="investor_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_PROCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="update_PROCResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="alter_PROC_MutualyAccepted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proc_id" type="xs:int" />
        <xs:element minOccurs="0" name="investor_mutualy_accepts_PROC" type="xs:boolean" />
        <xs:element minOccurs="0" name="entrepreneur_id" type="xs:int" />
        <xs:element minOccurs="0" name="investor_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="alter_PROC_MutualyAcceptedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alter_PROC_MutualyAcceptedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recant_PROC_MutualAcceptance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proc_id" type="xs:int" />
        <xs:element minOccurs="0" name="mutual_acceptance" type="xs:boolean" />
        <xs:element minOccurs="0" name="entrepreneur_id" type="xs:int" />
        <xs:element minOccurs="0" name="investor_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recant_PROC_MutualAcceptanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recant_PROC_MutualAcceptanceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="upload_Link">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="link" nillable="true" type="q21:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="upload_LinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="upload_LinkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_Link">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="link_id" type="xs:int" />
        <xs:element minOccurs="0" name="profile_id" type="xs:int" />
        <xs:element minOccurs="0" name="profile_type_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_LinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delete_LinkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_FinancialAccountData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="account_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_FinancialAccountDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ProudSourceWCFService" minOccurs="0" name="get_FinancialAccountDataResult" nillable="true" type="q22:FinancialAccountComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="create_new_BT_Transactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="account_Id" type="xs:int" />
        <xs:element minOccurs="0" name="nonce" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="create_new_BT_TransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="create_new_BT_TransactionsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ajax_SearchResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyArg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ajax_SearchResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ajax_SearchResultsResult" nillable="true" type="q23:ArrayOfArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>